.notFoundContainer {
  min-height: 100vh;
  background-color: #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.notFoundImg {
  height: 400px;
  width: 400px;
  margin-bottom: 20px;
  
}
.notFoundHead {
  font-size: 30px;
  color: white;
  font-weight: 600;
  margin: 0;
}
.notFoundMSG {
  font-size: 23px;
  color: white;
  font-weight: 400;
}

@media(max-width:768px){
  .notFoundContainer {
  min-height: 100vh;
  background-color: #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.notFoundImg {
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
  
}
.notFoundHead {
  font-size: 27px;
  color: white;
  font-weight: 600;
  margin: 0;
}
.notFoundMSG {
  font-size: 17px;
  color: white;
  font-weight: 400;
  text-align: center;
}
}